
:root{
  --custom-teal: #1c9696;
}

html{
  height: 100%;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: radial-gradient(circle at 50% 0%, pink, var(--custom-teal));
  background-position: 50% 0%;
  height: 100%;
  width: 100%;
  color:white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.header{
  display: flex;
  height: 4em;
  width: 100%;
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: rgba(0,0,0,0.2);
  color: white;
}

.material-symbols-outlined.header-icon{
 font-size: 35px !important;
}

.header-title-container{
  display: flex;
  gap: 1em;
  flex-direction: row;
  align-items: center;
}

.form-container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-width: min(calc(100% - 2em), 500px);
  gap: 1em;
  backdrop-filter: blur(10px);
  
  background-color: rgba(0,0,0,0.2);
  padding: 1em;
  border-radius: 1em;
}

input{
  border-radius: 0.5em;
  border-style: none;
  outline: none;
  font-size: medium;
  padding: 1em 0.5em;
  font-weight: 600;
  display: flex;
  background-color: rgba(255, 255, 255, 0.7);
}

button{
  border-radius: 0.5em;
  border-style: none;
  outline: none;
  font-size: medium;
  padding: 1em 0.5em;
  background-color: pink;
  
  font-weight: 700;
}

button:hover{
  cursor: pointer;
}

.etc-container{
  display: flex;
  flex-direction: row;
  gap: 1em;
}

textarea{
  outline: none;
  border-radius: 0.5em;
  border-style: none;
  font-size: large;
  padding: 1em 0.5em;
  font-weight: 700em;
  background-color: rgba(255, 255, 255, 0.7);
  overflow: hidden;
  max-width: 600px;
}


.form-title{
  margin-block: 0.5em;
}

.notification{
  position: absolute;
  inset: 5em 1em auto auto;
  border-radius: 1em;
  padding: 1em;
  z-index: 9999;
}

.notification.error{
  background-color: lightcoral;
  
}